@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  position: relative;
  min-height: 660px;
  font-family: "Montserrat", sans-serif;
}

/* header section */
.header-container {
  height: 70px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #f5ba13;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

header h1 {
  color: #fff;
  font-weight: 700;
}

header span {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

/* form section */

.form-section form {
  background-color: #fff;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 2px 8px #acaaaa;
  position: relative;
}

.form-section form input,
.form-section form textarea {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  font-size: 20px;
}

.form-section form input {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-section form textarea {
  height: 4rem;
  margin-bottom: 8px;
}

.add-btn-container {
  text-align: right;
  height: 0;
}

.add-btn-container button {
  background-color: #f5ba13;
  color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 15px 10px;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  bottom: 7px;
  box-shadow: 0 3px 2px #acaaaa;
}

/* Note section */
.note-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 45px 14px 25px 14px;
  min-height: 340px;
}

.note {
  background-color: #fff;
  width: 15rem;
  height: fit-content;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.5;
}

.note-container:nth-child(even) {
  width: 100%;
  display: flex;
  justify-content: end;
}

.note-container .title {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.note-container .title span {
  width: 5.4rem;
}

.note-container .content {
  font-weight: 500;
  margin-top: 5px;
}

.delete-btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.date {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 13px;
  width: 6rem;
}

.delete-btn-container button {
  outline: none;
  border: none;
  background-color: inherit;
  color: #e0ad21;
  font-weight: bolder;
  font-size: 13px;
  cursor: pointer;
}

/* Footer section */
footer {
  text-align: center;
  width: 100%;
  height: 2.5rem;
  padding-top: 10px;
  border-top: 1px solid #f5ba13;
}

footer p {
  color: #a3a1a1;
}

@media (min-width: 765px) {
  /* form section */
  .form-section form {
    width: 30rem;
  }

  /* Note section */
  .note-section {
    gap: 25px;
  }

  .note {
    width: 17rem;
    letter-spacing: auto;
    font-size: 18px;
    line-height: 1.5;
  }

  .note-container:nth-child(even) {
    width: auto;
    display: block;
  }
}
